/* Standard Styles */

body {
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

main, header > div, footer > div {
	max-width: 850px;
	margin: auto;
	display: block;
}

h1, h2 {
	font-family: 'Quicksand',Helvetica,Arial,sans-serif;
}

h1 {
	font-size: 2.3em;
	line-height: 1;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: #00b5d1;
	transition-property: color;
	transition: 0.2s linear;
}

a:hover {
	color: #00fa2b;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

ul, ol {
	list-style: inherit;
	margin: 10px 30px;
	color: #5b5b5b;
}

p {
	margin: 15px 0 0 0;
}

/* Header */

header {
	background-color: #5b5b5b;
	color: #f4f4f4;
}

header > div {
	overflow: auto;
	position: relative;
	padding: 10px 20px;
	box-sizing: border-box;
}

header h1 {
	float: left;
	color: #9bffac;
}

header h1 a span {
	color: #9bf2ff;
	transition-property: color;
	transition: 0.2s linear;
}

header h1 a:hover {
	color: inherit;
}

header nav {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

header nav a {
	color: #f4f4f4;
	font-family: 'Quicksand',Helvetica,Arial,sans-serif;
}

header nav a:hover {
	color: #9bf2ff;
}

/* Footer */

footer {
	background-color: #ebebeb;
	border-top: 1px solid #969696;
	margin: 30px 0 0 0;
	color: #5b5b5b;
}

footer > div {
	padding: 20px;
	box-sizing: border-box;
	overflow: auto;
}

footer address {
	float: left;
}

footer address a {
	display: block;
	color: #5b5b5b;
}

footer address a:hover {
	color: #00d9fa;
}

footer aside {
	width: 50%;
	float: right;
	font-style: italic;
	text-align: right;
	font-size: 0.9em;
}

footer .icon svg {
	display: inline-block;
	width: 16px;
	height: 19px;
	position: relative;
	top: 3px;
}

/* Posts List */

main.posts article {
	margin: 50px 20px 0;
	position: relative;
}

main.posts article h2 {
	border-left: 1px solid #5feaff;
	padding: 5px 0 5px 10px;
	margin: 10px 0;
}

main.posts article:nth-of-type(2n) h2 {
	border-left: 1px solid #5fff7a;
}

main.posts article h2 a:hover {
	color: #5feaff;
}

main.posts article:nth-of-type(2n) h2 a:hover {
	color: #5fff7a;
}

main.posts article p {
	margin: 0 11px;
	color: #5b5b5b;
	text-align: justify;
}

main.posts article time {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 0.8em;
	color: #969696;
	font-style: italic;
}

main.posts nav {
	margin: 30px 0 0 20px;
}

/* Posts */

main h1 {
	color: inherit;
}

main.post article {
	position: relative;
  	margin: 50px 20px 0;
}

article header, article footer {
	color: inherit;
	background: none;
	border: none;
}

main.post article header {
	margin: 0 0 20px 0;
}

article header h1 {
	float: none;
}

main.post article time {
	position: absolute;
	top: -15px;
	right: 0px;
	font-size: 0.8em;
	color: #969696;
	font-style: italic;
}

main.post article p {
	color: #5b5b5b;
	text-align: justify;
}

article h2 {
	margin: 20px 0 5px 0;
}

#disqus_thread {
	  margin: 30px 20px 0;
}

article img {
	max-width: 100%;
	margin: auto;
}

/* Syntax Highlighting Styles */

.highlight { 
	background: #ffffff;
  margin: 20px 0;
}

main.post pre, main.post code {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 8px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px;
}

main.post code { padding: 1px 5px; }

main.post pre code { border: none; }

.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
.highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }
