/* Standard Styles */

body {
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

main, header > div, footer > div {
	max-width: 850px;
	margin: auto;
}

h1, h2 {
	font-family: 'Quicksand',Helvetica,Arial,sans-serif;
}

h1 {
	font-size: 2.3em;
	line-height: 1;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: #00b5d1;
	transition-property: color;
	transition: 0.2s linear;
}

a:hover {
	color: #00fa2b;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

/* Header */

header {
	background-color: #5b5b5b;
	color: #f4f4f4;
}

header > div {
	overflow: auto;
	position: relative;
	padding: 10px 20px;
	box-sizing: border-box;
}

header h1 {
	float: left;
	color: #9bffac;
}

header h1 a span {
	color: #9bf2ff;
	transition-property: color;
	transition: 0.2s linear;
}

header h1 a:hover {
	color: inherit;
}

header nav {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

header nav a {
	color: #f4f4f4;
}

header nav a:hover {
	color: #9bf2ff;
}

/* Footer */

footer {
	background-color: #ebebeb;
	border-top: 1px solid #969696;
	margin: 30px 0 0 0;
	color: #5b5b5b;
}

footer > div {
	padding: 20px;
	box-sizing: border-box;
	overflow: auto;
}

footer address {
	float: left;
}

footer address a {
	display: block;
	color: #5b5b5b;
}

footer address a:hover {
	color: #00d9fa;
}

footer aside {
	width: 50%;
	float: right;
	font-style: italic;
	text-align: right;
	font-size: 0.9em;
}

footer .icon svg {
	display: inline-block;
	width: 16px;
	height: 19px;
	position: relative;
	top: 3px;
}

/* Posts List */

main.posts article {
	margin: 50px 20px 0;
	position: relative;
}

main.posts article h2 {
	border-left: 1px solid #5feaff;
	padding: 5px 0 5px 10px;
	margin: 10px 0;
}

main.posts article:nth-of-type(2n) h2 {
	border-left: 1px solid #5fff7a;
}

main.posts article h2 a:hover {
	color: #5feaff;
}

main.posts article:nth-of-type(2n) h2 a:hover {
	color: #5fff7a;
}

main.posts article p {
	margin: 0 11px;
	color: #5b5b5b;
	text-align: justify;
}

main.posts article time {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 0.8em;
	color: #969696;
	font-style: italic;
}

main.posts nav {
	margin: 30px 0 0 20px;
}

/* Posts */

main h1 {
	color: inherit;
}

main.post article {
	position: relative;
  	margin: 30px 20px 0;
}

article header, article footer {
	color: inherit;
	background: none;
	border: none;
}

main.post article header {
	margin: 0 0 20px 0;
}

article header h1 {
	float: none;
}

main.post article time {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 0.8em;
	color: #969696;
	font-style: italic;
}

main.post article p {
	color: #5b5b5b;
	text-align: justify;
}

article h2 {
	margin: 20px 0 5px 0;
}