---
layout: default
---
<main role="main" class="posts">
{% for post in paginator.posts %}
			<article>
				<h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
				<time datetime="{{ post.date | date: "%F" }}">Jan 25, 2015</time>
				<p>{{ post.excerpt }}</p>
			</article>
{% endfor %}
{% if paginator.total_pages > 1 %}
			<nav>
				<a href="#">&lt;&lt;</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">&gt;&gt;</a>
    <nav>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
      {% else %}
        <span>&laquo;</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
      {% else %}
        <span>&raquo;</span>
      {% endif %}
	</nav>
{% endif %}
</main>